.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.dropDown{
  left: 74%;
    position: relative;
    /* top: 2.5rem; */
    font-size: 13px;
    font-weight: bold;
    PADDING-BOTTOM: 40PX;
}

.Pagination
{
  left: "78%";
    position: "relative";
    font-Size: "13px";
    top: "0.3rem"
}

.pageLabel{
  position: "relative" !important;
    top: "-5px" !important
}

.pageCounter{
  position: relative;
  top: -7px;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
